venv
camera_calibration_step/__pycache__/
camera_calibration_step/output/
camera_calibration_step/calibration_images/
instance_segmentation_step/__pycache__/
instance_segmentation_step/frames/
instance_segmentation_step/output/
depth_estimation_step/__pycache__/
depth_estimation_step/output/
measurement_extraction_step/__pycache__/
measurement_extraction_step/output/
.DS_Store
accuracy_validation_step/__pycache__/
accuracy_validation_step/output/
accuracy_validation_step/ground_truth.json
instance_segmentation_step/prompt_experiments/


# model weights (auto-downloaded)
*.pt
*.ts
